@font-face {
    font-family: Roboto;
    src: url("/Roboto-Regular.ttf");
}

@font-face {
    font-family:  OpenSans;
    src: url("/OpenSans-Regular.ttf");
}

h2 {
    background-image: url("img/heading-bg.webp");
    color: floralwhite;
    text-align: center;
    border-radius: 25px;
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: OpenSans;
    font-weight: bolder;
}

.navbar {
    background-color: black;
}

.navbar-nav {
    color: floralwhite;
}

nav ul {
    margin-right: 40px;
}

.navbar-nav li a {
    font-weight: bold;
    color: white;
    text-shadow: -3px 3px maroon;
    padding: 7%;
}

.navbar-nav li a:hover {
    font-weight: bold;
    color: rgb(224, 192, 152);
    text-shadow: -3px 3px maroon;
    box-shadow: 0px 0px 3px 3px lightgoldenrodyellow;
    border-radius: 0.5rem;
}

.navbar li {
    margin-left: 1em;
    margin-right: 1em;
}

body {
    padding: 55px 0px 0px 0px;
    z-index: 0px;
    background: linear-gradient(160deg, #faebd7, rgb(224, 192, 152));;
}

.row-content {
    margin: 0px auto;
    padding: 40px 0px 40px 0px;
    min-height: 400px;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-social-icon {
    font-size: x-large;
    color: white;
}

.btn-social-icon:hover {
    color: maroon;
    box-shadow: 0px 0px 5px 5px lightgoldenrodyellow;
}

footer {
    background-color: black;
    color: rgb(255, 196, 0);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.footer-bottom {
    background: lightgray;
    color: black;
    padding: 10px 0px;
    margin-bottom: 0%;
    width: 100%;
    text-align: center;
}

.footer-bottom a:hover {
    text-shadow: 2px 2px rgb(224, 192, 152);
}

li a,
address a {
    color: teal;
}