@font-face {
    font-family: Roboto;
    src: url("/Roboto-Regular.ttf");
}

@font-face {
    font-family:  OpenSans;
    src: url("/OpenSans-Regular.ttf");
}

html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h2 {
    background-image: url("img/heading-bg.webp");
    color: floralwhite;
    text-align: center;
    border-radius: 25px;
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: OpenSans;
    font-weight: bolder;
}

.navbar {
    background-color: black;
}

.navbar-nav {
    color: floralwhite;
}

nav ul {
    margin-right: 40px;
    padding: 1%;
}

.navbar-nav li a {
    font-weight: bold;
    color: white;
    text-shadow: -2px 2px maroon;
}

.navbar-nav li a:hover {
    font-weight: bold;
    color: rgb(224, 192, 152);
    box-shadow: 0px 0px 3px 3px lightgoldenrodyellow;
    border-radius: 0.5rem;
}

@media screen and (max-width: 1199px) {
    .navbar-nav li a{
        padding: 4%;
    }
}

.navbar li {
    margin-left: 1em;
    margin-right: 1em;
}

body {
    padding: 55px 0px 0px 0px;
    z-index: 0px;
    background: linear-gradient(160deg, #faebd7, rgb(224, 192, 152));;
}

.row-content {
    margin: 0px auto;
    padding: 40px 0px 40px 0px;
    min-height: 400px;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-social-icon {
    font-size: x-large;
    color: white;
}

.btn-social-icon:hover {
    color: maroon;
    box-shadow: 0px 0px 5px 5px lightgoldenrodyellow;
}

footer {
    background-color: black;
    color: rgb(255, 196, 0);
    padding: 20px 0px 20px 0px;
}

.footer-end {
    border-top: 0.5px solid rgba(255, 255, 255, 0.3);
    border-top-style: ridge;
    color: white;
    font-size: large;
    text-align: center;
    padding: 20px 0 0;
}

.footer-end a{
    text-decoration: none;
    color: rgb(224, 192, 152);
}
.footer-end a:hover {
    color: rgb(255, 196, 0);
}

footer a, footer p{
    text-decoration: none;
    color: lightyellow;
}

#eventSponsors h1{
    text-align:center;
    color: aliceblue;
  }

#eventSponsors{
    background-color: rgb(16, 145, 196);
}

  /* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }